
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  
  font-family: Silom;
  color: #643736;
  font-size: 32px;
}

p {
  margin: 0;
  padding: 0;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
}

.scroll-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: white;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.scroll-area {
  scroll-snap-align: start;
}

.scroll-area {
  background-color: #e6b698;
}

.scroll-area:nth-of-type(1) {
  background-color: #e5c5b4;
}

.scroll-area {
  position: relative;
  // background-size: cover;
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: top center;
}

.scroll-area:nth-of-type(1) { background-image: url('../images/maanii1.png'); }
.scroll-area:nth-of-type(2) { background-image: url('../images/maanii2.png'); }
.scroll-area:nth-of-type(3) { background-image: url('../images/maanii3.png'); }
.scroll-area:nth-of-type(4) { background-image: url('../images/maanii4.png'); }
.scroll-area:nth-of-type(5) { background-image: url('../images/maanii5.png'); }
.scroll-area:nth-of-type(6) { background-image: url('../images/maanii6.png'); }
.scroll-area:nth-of-type(7) { background-image: url('../images/maanii7.png'); }
.scroll-area:nth-of-type(8) { background-image: url('../images/maanii8.png'); }

.cover1 {
  position: absolute;
  background: url('../images/cover1.png');
  top: 87px;
  left: 0;
  width: 355px;
  height: 260px;
}

.scroll-area.yubi p {
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 16px;
  line-height: 1.2;
  filter: blur(0.4px);
  -webkit-filter: blur(0.4px);
}

.scroll-area.yubi .trigger1 {
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 548px;
  left: 280px;
  width: 75px;
  height: 96px;
}
.scroll-area.yubi .trigger2 {
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 478px;
  left: 270px;
  width: 33px;
  height: 32px;
}

.hidden, .visible {
  transition: 500ms ease-in;
}
.hidden { opacity: 0; }
.visible { opacity: 1; }

.question-marks {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  padding-left: 6px;
}
.question-marks :is(.placeholder, .content) {
  position: absolute;
  transform-origin: bottom;
  transition: all 800ms ease-in;
}
.question-marks .placeholder { opacity: 1; }
.question-marks .content { opacity: 0; transform: scale(1.6); }
.question-marks.content-visible .placeholder { opacity: 0; }
.question-marks.content-visible .content { opacity: 1; transform: scale(1); }
